@font-face {
  font-family: "Cursed Timer";
  src: url("fonts/CursedTimerUlil-Aznm.ttf");
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Verdana", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1B244A;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100%;
}

h3 {
    font-size: 40px;
    line-height: 39px;
    color: #eeeeee;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 385px;
    width: 575px;
    margin: auto;
}

.col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.score-container {
    text-align: center;
    background-color: black;
    height: 120px;
    width: 155px;
    box-sizing: border-box;
}

.score {
    font-size: 90px;
    line-height: 0;
    font-family: 'Cursed Timer', sans-serif;
    color: #F94F6D;
    margin: 69px auto 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between
}

.buttons button {
    font-family: 'Cursed Timer',sans-serif;
    font-size: 18px;
    line-height: 0;
    border: 2px solid #9AABD8;
    background: none;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

button:hover {
    color: #1B244A;
    background-color: #9AABD8;
}
